.container_basket {
    background-color: #161516;
    width: 100%;
  }
  
  .products_basket {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 1440px;
    margin: 0 auto;
  }
  
  .products__card_basket {
    margin-left: 70px;
  }
  
  .header_basket {
    margin: 0 auto;
    display: flex;
    margin-left: 290px;
  }
  
  .title_bakset {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 81px;
    padding-top: 54px;
    margin-left: 150px;
  }
  
  .footer_basket {
    display: flex;
    padding: 28px 0 35px 290px;
    color:#FFFFFF;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
  }
  
  .basketButton {
    background-color: #D58C51;
    padding: 13px 40px;
    margin-right: 400px;
  }